BasedOnStyle: Microsoft
IndentWidth: 4
ColumnLimit: 100
UseTab: AlignWithSpaces
BreakBeforeBraces: Attach
AlignAfterOpenBracket: BlockIndent
AlignOperands: DontAlign
BreakBeforeBinaryOperators: NonAssignment
